.cards {
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  padding: 20px 0 40px;
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 413px);
  list-style-type: none;
  gap: 40px 20px;
  padding: 0;
  margin: 0;
}
